doctype 5
html(lang="en")
  head
    // adapted from Bootstrap Theme sample at http://getbootstrap.com/examples/theme/
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title mathphreak's Serverless Webapp Template
    link(rel="stylesheet",href="css/bootstrap.css")
    link(rel="stylesheet",href="css/font-awesome.css")
    link(rel="stylesheet",href="css/main.css")
  body
    div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      div.container
        div.navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#") Serverless Webapp Template
        div.navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active: a(href="#") Home
            li: a(href="#about") About
            li: a(href="#contact") Contact
            li.dropdown
              a.dropdown-toggle(href="#",data-toggle="dropdown") Dropdown <b class="caret"></b>
              ul.dropdown-menu
                li: a(href="#") Action
                li: a(href="#") Another action
                li: a(href="#") Something else here
                li.divider
                li.dropdown-header Nav header
                li: a(href="#") Separated link
                li: a(href="#") One more separated link

    div.container.theme-showcase

      // Main jumbotron for a primary marketing message or call to action
      div.jumbotron
        h1 You have pressed the button 
          span#button-press-count 0
          span  times.
        p.
          Bacon ipsum dolor sit amet pastrami kevin leberkas t-bone chicken salami pancetta sausage tail
          filet mignon tongue corned beef pig. Ham swine kevin, strip steak jowl t-bone cow ham hock shoulder.
          Chuck filet mignon shoulder bresaola andouille boudin meatball brisket beef ribs chicken short ribs.
          Sausage capicola short loin beef, venison turkey ball tip ham hock doner corned beef prosciutto
          tenderloin pork swine frankfurter. Leberkas corned beef pig chuck, jerky bresaola ham frankfurter
          shank beef ribs meatball.
        p: a#increment.btn.btn-primary.btn-lg(href="#",role="button")
          i.fa.fa-plus

      div.page-header
        h1 Button-clicking progress
      div.progress#click-progress
        div.progress-bar(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: 60%;")
          span.sr-only 60% Complete

    // Bootstrap core JavaScript
    // Placed at the end of the document so the pages load faster
    script(src="js/libs.js")
    script(src="js/main.js")